# Project specific
/app/.config
/docs/*
/logs/*

# General
*.bak
*.tmp
*.log
*.old
__*/
/.buildpath
/.project
/.settings
/.externalToolBuilders
/.idea

# Composer
/vendor
composer.lock

# Node & npm
/npm_modules
